<template class="temp_create_questions">
        <section class="component-section" >
                <style type="text/css">
                    @keyframes check {0% {height: 0;width: 0;}
25% {height: 0;width: 10px;}
50% {height: 20px;width: 10px;}
}
.checkbox{background-color:#fff;display:inline-block;height:28px;margin:0 .25em;width:28px;border-radius:4px;border:1px solid ;float:left;}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}

.checkbox input:checked + .success:after{border-color:#8bc34a}

              </style>
                <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Question Form</h5>
                                    <span>Add a new Question</span>
                                </div>
                                <div class="card-block">
                                    <h4 class="sub-title">Basic Inputs</h4>
                                    <form onsubmit="return false;">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Main Question * </label>
                                            <div class="col-sm-10">
                                                <input type="text" id="mainQuestion" placeholder="What is  , How can this ,.." class="form-control">
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Add Image ?</label>
                                                <div class="col-sm-10">
                                                    <select name="select" id="image_qstn" class="form-control" onchange="changeImageSelection()">
                                                        <option value="null" selected="selected" >Select Type</option>
                                                        <option value="single">One Image</option>
                                                       <!--  <option value="up_to_three">Maximum of three Images</option> -->

                                                    </select>
                                                </div>
                                            </div>
                                            <div style="display:none;" id='div_image_selection' class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Upload Diagram</label>
                                                    <div class="col-sm-10">
                                                            <p id="b64">.</p>
                                                            <img id="img" style="display:none;" height="150">
                                                            <!-- <div id="preview" height="150" ></div> -->
                                                        <input style="margin-top: 10px;"  id="inp"  type="file" accept=".png , .jpg" class="form-control">
                                                    </div>
                                                </div>
                                            <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Response Type *</label>
                                                    <div class="col-sm-10">
                                                        <select name="select" id="response_type" class="form-control" onchange="changeSolutionTypeView()">
                                                            <option value="null" selected="selected" >Select Type</option>
                                                            <option value="single">One Selection</option>
                                                            <option value="multiple">Multiple Responses</option>

                                                        </select>
                                                    </div>
                                                </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Ask for Response Solution</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="askForResponseSol"
                                                placeholder="Select Soulution , Select 1 option" value="Select a suitable solution (s) .">
                                            </div>
                                        </div>
                                        <div id="checkSingleSol" style="display:none;">
                                                <button onclick="addSinglePossibleSolution()" style="margin: 10px;" class="btn btn-primary btn-round"><i class="fa fa-plus"></i></button>
                                               <div id="clonableSinglePossibleSolution" class="form-group row">
                                                   <div class="col-sm-10">
                                                       <input type="text" class="form-control inputSingleSolution" placeholder="Possible Solution">
                                                   </div>
                                                   <div class="col-sm-2">
                                                        Answer  <span class="span_ans">A ?</span>
                                                       <label class="checkbox">
                                                           <input type="radio" value='A' class="singlePossibleClass"  name="optionals" />
                                                           <span class="success"></span>
                                                       </label>
                                                   </div>
                                               </div>
                                                   <div id="singleSolClones"></div>
                                               </div>
                                        <div id="checkMultiSol" style="display:none;">
                                         <button onclick="addPossibleSolution()" style="margin: 10px;" class="btn btn-primary btn-round"><i class="fa fa-plus"></i></button>
                                        <div id="clonablePossibleSolution" class="form-group row">
                                            <div class="col-sm-10">
                                                <input type="text" id="inputMultiSolution"  class="form-control inputMultiSolution" placeholder="Possible Solution">
                                            </div>
                                            <div class="col-sm-2">

                                                    Answer  <span class="span_ans">A ?</span>
                                                <label class="checkbox">
                                                    <input type="checkbox" value='A' class="multiPossibleSelects" />
                                                    <span class="success"></span>
                                                </label>
                                            </div>
                                        </div>
                                            <div id="solClones"></div>

                                        </div>
                                        <div class="form-group row">
                                                <div class="col-sm-10">
                                                    <button onclick="saveNewQuestion();" class="btn btn-round btn-primary"><i class="fa fa-save">Save</i></button>
                                                </div>
                                            </div>
                                     </form>


                                            </div>
                                        </div>
                                        <!-- Basic Form Inputs card end -->



                                                </div>
                                            </div>
                                        </div>
                                        <!-- Page body end -->
                                    </div>
                                </div>
                                <!-- Main-body end -->
                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        <script src="assets/js/for-modules/create-qstns.js"></script>
    </template>