<template class = "temp_session_tables">
        <section class = "component-section" id = "">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Sessions </h5>
                                   <select>
                                       <option value="null">Select Option </option>
                                   </select>
                                   <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Select Box</label>
                                    <div class="col-sm-10">
                                        <select name="select" class="form-control">
                                            <option value="null">Select One Value Only</option>
                                             <option value="null">Select Option </option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                            <option value="opt4">Type 4</option>
                                            <option value="opt5">Type 5</option>
                                            <option value="opt6">Type 6</option>
                                            <option value="opt7">Type 7</option>
                                            <option value="opt8">Type 8</option>
                                        </select>
                                    </div>
                                </div>

                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa-chevron-left"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-times close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>@mdo</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td>@fat</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td>@twitter</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
        </section>
         <script src="assets/js/for-modules/session_tables.js"></script>
    </template>